* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Text Size */
.heading-1 {
    margin: 0;
    font-size: 3rem; /* 1rem = 16px*/
    font-weight: 800;
}

.heading-2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.heading-3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
}

.sub-heading {
    margin: 4px 0;
    font-size: 1.125rem; /* 1.125rem = 18px*/
    font-weight: 400;
    color: #828282;
}

.card-caption {
    margin: 4px 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: #000;
}

.card-details {
    margin: 2px 0;
    font-size: 1rem;
    font-weight: 400;
    color: #828282;
}

.price-products {
    margin: 4px 0;
    font-size: 1.125rem;
    color: #000;
    font-weight: 500;
}

.price-lists-products {
    margin: 4px 0;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
}

/* Hero header */
.header {
    width: calc(100% - 160px);
    margin: 0 auto;
    padding: 0;
}

/* Container for the main content  */
.container {
    max-width: calc(100% - 160px);
    margin: 0 auto;
    padding: 0;
}

/* Footer */
.footer {
    max-width: calc(100% - 160px);
    margin: 0 auto;
    padding: 0;
}

/* Horizontal line */
.line-straight {
    margin-top: 150px;
    border: 0;
    height: 1px;
    background-color: #E6E6E6;
    
}

.footer-body {
    padding: 48px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-between;
    gap: 32px;
}

.footer-left-side {
    padding: 0 40px;
    margin: 0;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    gap: 16px;
}

.footer-right-side {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    justify-content: center;
    gap: 32px;
    text-align: end;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.a-footer {
    font-weight: 400;
    color: #454545;
}

/* Icons */
.icon {
    margin-top: 0;
    display: flex;
    gap: 16px;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.icon-width:hover {
    color: #000;
    transition: transform 0.3s ease-in-out;
    transform: scale(130%);
}

/* In shop page */
.icon-size {
    margin: 4px 0;
    font-size: 1.125rem;
}

/* Navbar */
.nav {
    padding: 20px 80px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 50;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Navbar Items */
.navbar-items {
    display: flex;
    align-items: center;
    gap: 48px;
}

/* Navbar Links */
.navbar-links {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
    list-style: none;
}

.navbar-links li {
    text-decoration: none;
}

/* Logo */
.logo {
    font-size: 1.5rem; /* 1.5rem = 24px*/
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.logo:hover {
    text-decoration: none;
}

/* Button */
.btn {
    padding:8px 16px;
    height: 52px;
    background-color: #151717;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 500;
}

.btn:hover {
    background-color: #252727;
    color: #fff;
    box-shadow: 0 0 0 0.5px #454545;
}

.btn-secondary {
    padding: 8px 16px;
    height: 52px;
    background-color: #E6E6E6;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #c3c0c0;
    color: #000;
    border: none;
    box-shadow: 0 0 0 0.5px #454545;
    transition: 0.3s ease-in-out;
}

a {
    text-decoration: double;
    color: #000;
    transition: 0.5s ;
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: 500;
}


/* Landing page */
.hero-landing {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-direction: column;
}

.hero-landing-text {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-image-home {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Section 1 landing */
.section-1-card-lists {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.section-1-card-image {
    margin-bottom: 4px;
    width: 100%;
    max-width: 425px;
    height: auto;
    border-radius: 8px;
}


/* Section 2  landing */
.section-2 {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
}

.section-2-contents {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-2-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

.section-2-image-side {
    width: 100%;
    max-width: 660px;
    min-width: 356px;
    height: auto;
    border-radius: 8px;
}

.section-2-btn {
    display: flex;
    gap: 8px;
}



/* Section 3 landing */
.section-3 {
    margin-top: 150px;
}

.section-3-card-lists {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.section-3-image {
    margin-bottom: 4px;
    width: 100%;
    border-radius: 8px;
}


/* Section 4 landing */
.section-4 {
    margin-top: 150px;
}
.section-4-card-lists {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.section-4-card-quote {
    padding: 24px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 0 1px #E6E6E6;
    cursor: pointer;
    transition: 0.3s;
}

.section-4-card-quote:hover {
    border: #E6E6E6;
    box-shadow: -2px 2px 6px 2px #E6E6E6;
}

.section-4-avatar-quote-user {
    margin-top: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    
}

.section-4-card-quote-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-user-info{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* section 5 landing */
.section-5 {
    padding: inherit;    
    margin-top: 150px;
    margin-left: -80px;
    margin-right: -80px;
    width: calc(100% + 160px); /*add 160px to counteract the left and right margins */
    height: 236px;
    background-color: whitesmoke;
}

.section-5-content {
    padding: 80px;
    margin: 0 auto;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}


/* Shop page */
.shop-page .banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/shop\ page/header-image.png') no-repeat center center/cover;
}

.shop-page .nav {
    position: fixed;
    z-index: 50;
    top: 0;
    background: transparent;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.section-1-shop {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.section-1-shop-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-3-shop {
    margin-top: 150px;
}

.section-4-shop {
    margin-top: 150px;
}

.section-4-shop-content {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    text-wrap-style: pretty;
}

.section-4-shop-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.section-4-shop-content-text {
    display: flex;
    flex-direction: column;
}



/* Product details page hero*/
.hero-card-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 140px;
}

.hero-card-img {
    border-radius: 12px;
}

/* Related Products */
.card-lists-products {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.card-lists-item-products {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-lists-img {
    width: 100%;
    border-radius: 8px;
}



/* Article  */
.text-content {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -219px;
    margin-right: -219px;
    width: calc(100% + 438px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.article-card-lists {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.article-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #E6E6E6;
    border-radius: 18px;
}

.article-card:hover {
    border: none;
    box-shadow: -2px 2px 6px 2px #E6E6E6;
    transition: 0.3s ease-in-out;
}

.article-card-image {
    width: 100%;
    height: 346px;
    border-radius: 8px;
}

.article-card-info {
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    vertical-align: 4px;
    
}



/* About us  */
.section-header {
    display: flex;
    justify-content: space-between;
    gap: 147px;
}

.text-about-us {
    text-wrap: inherit; 
    text-wrap-style: pretty; 
    font-size: 18px; 
    font-weight: 500;
    line-height: 1.5;
}

.form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 626px;
}

/* flex first name & last name */
.form-flex-row {
    display: flex;
    gap: 32px;
}

.form-flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid #E6E6E6;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.input-form:focus-within {
    border: 1.5px solid #000;
}

.input {
    padding: 16px 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input:focus {
    outline: none;
}

.input-form-message {
    padding: 16px 12px;
    height: 162px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1.5px solid #E6E6E6;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.input-form-message:focus {
    outline: none;
    border: 1.5px solid #000;
}



/* Responsive  */
@media (max-width: 1024px) {
    .header, .container, .footer {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

    .nav {
        padding: 20px;
    }

    .navbar-items {
        gap: 24px;
    }

    .navbar-links {
        gap: 24px;
    }

    .footer-body {
        grid-template-columns: 1fr 1fr;
        padding: 32px 0;
    }
}

@media (max-width: 768px) {
    .header, .container, .footer {
        padding: 0 15px;
    }

    .heading-1 {
        font-size: 2.5rem;
    }

    .heading-2 {
        font-size: 1.75rem; /*1.75rem = 28px*/
    }

    .heading-3 {
        font-size: 1.25rem; /*1.25rem = 20px*/
    }

    .btn {
        width: inherit;
    }

    .navbar-items {
        flex-direction: column;
        gap: 20px
    }

    .navbar-links {
        gap: 24px;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .heading-1 {
        font-size: 2rem;
    }

    .heading-2 {
        font-size: 1.5rem;
    }

    .heading-3 {
        font-size: 1.125rem;
    }

    .card-caption, .price-products {
        font-size: 1rem;
    }

    .card-details, .price-lists-products {
        font-size: 0.875rem;
    }

    .footer-body {
        grid-template-columns: 1fr;
    }

    .nav {
        padding: 15px;
    }

    .btn {
        font-size: 0.875rem; /*0.875rem = 14px*/
    }
}