body {
    padding: 0;
    margin: 0 80px;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Navbar */
.nav {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    
}

.items {
    width: 683px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

a {
    text-decoration: double;
    color: #000;
    transition: 0.3s ;
}

a:hover {
    text-decoration: underline;
}

.btn {
    padding:12px 24px;
    /* width: 99px; */
    height: 52px;
    background-color: #151717;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover {
    background-color: #252727;
    color: #fff;
    box-shadow: 0 0 0 0.5px #454545;
}

.btn-secondary {
    padding: 12px 24px;
    height: 52px;
    background-color: #E6E6E6;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 0 0.5px #454545;
}

.btn-secondary:hover {
    background-color: #c3c0c0;
    color: #000;
}


/* Leading page */
.hero {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-title {
    width: 950px;
}

.heading-1 {
    margin: 0;
    font-size: 64px;
    font-weight: 800;
}

.sub-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    color: #000/75;
}

.hero-image-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Section 1 landing */

.section-1-card-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.section-1-card-image {
    margin-bottom: 24px;
    width: 100%;
    border-radius: 8px;
    /* object-fit: cover; */
}


/* Section 2  leading */
.section-2 {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.section-2-text {
    width: 587px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.section-2-image-side {
    width: 100%;
    height: 704px;
    border-radius: 8px;
}

.section-2-btn {
    display: flex;
    gap: 8px;
}


/* Section 3 landing */
.section-3 {
    margin-top: 180px;
}

.section-3-card-lists {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
}

.section-3-image {
    margin-bottom: 32px;
    width: 100%;
    border-radius: 8px;
}


/* Section 4 landing */
.section-4 {
    margin-top: 180px;
}
.section-4-card-lists {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.section-4-card-quote {
    padding: 32px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 0 1px #E6E6E6;
    cursor: pointer;
    transition: 0.3s;
}

.section-4-card-quote:hover {
    border: #E6E6E6;
    box-shadow: -2px 2px 6px 2px #E6E6E6;
}

.section-4-avatar-quote-user {
    margin-top: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    
}

.section-4-card-quote-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-user-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* section 5 landing */
.section-5 {
    padding: inherit;
    margin-top: 180px;
    margin-left: -80px;
    margin-right: -80px;
    width: calc(100% + 160px); /* add 160px to counteract the left and right margins*/
    height: 236px;
    background-color: whitesmoke;
    /* background-size: 100% 100%; */
}

.section-5-content {
    margin: 0 80px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Hero section details page*/
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 140px;
}

.hero-card-img {
    border-radius: 12px;
}

.card-body {
    font-size: 20px;
    font-weight: 400;
}

.card-btn {
    width: 100%;
    height: 52px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    font: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0 1px #000;
}

.heading-2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

.card-caption {
    font-size: 24px;
    color: #828282;
}

.price {
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

.card-body-text {
    color: #828282;
    font-size: 24px;
}

/* Section 2 Related Products */
.card-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.lists-card-img {
    width: 100%;
    border-radius: 8px;
}

.list-card-header {
    font-size: 24px;
    font-weight: 500;
}

.list-card-price {
    font-size: 20px;
    font-weight: 500;
}

.list-card-text {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
}



/* About us  */
.section-header {
    display: flex;
    justify-content: space-between;
    gap: 147px;
}

.text {
    text-wrap: inherit; 
    text-wrap-style: pretty; 
    font-size: 20px; 
    font-weight: 500;
    line-height: 1.5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 626px;
}

.form-flex-row {
    display: flex;
    gap: 32px;
}

.form-flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid #E6E6E6;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.input-form:focus-within {
    border: 1.5px solid #000;
}

.input {
    padding: 16px 12px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input:focus {
    outline: none;
}

.input-form-message {
    padding: 16px 12px;
    height: 162px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1.5px solid #E6E6E6;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.input-form-message:focus {
    outline: none;
    border: 1.5px solid #000;
}

label {
    font-weight: 500;
}


/* Footer */
.line-straight {
    margin-top: 150px;
    border: 0;
    height: 1px;
    background-color: #E6E6E6;
    
}

.footer {
    /* margin: 0; */
    padding: 0;
    margin: 47px 0;
    display: flex;
    justify-content: space-between;
}

.footer-left-side {
    margin: 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    gap: 88px;
}

.footer-right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 187px;
}

.heading-3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.a-footer {
    font-weight: 400;
    color: #454545;
}

.icon {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 24px;
    color: #828282;
    cursor: pointer;
    transition: 0.3s;
}

.icon-width:hover {
    color: #000;
}